<% if flash[:error].present? %>
  <div class="error_main">
    <p><%= flash[:error].count %>つのエラーが発生しました</p>
    <% flash[:error].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </div>
<% end %>

<% if flash[:login_error].present? %>
  <p><%= flash[:login_error] %></p>
<% elsif flash[:login_lock].present? %>
<% end %>
