<p class="pankuzu">
  <%= link_to "トップページ", root_path, class: "common_a"%>
  >
  <%= link_to "管理画面", admin_path, class: "common_a"%>
  >
  <%= link_to "イベント情報", admin_posts_path, class: "common_a"%>
  >
  イベント情報 新規追加画面 
</p>
<div class="common_field_title">
  <h1>イベント・お知らせ情報一覧 新規登録</h1>
  <div class="underline"></div>
</div>

<%= render "form" %>
