<div class="step_container">
  <div class="rectangle_triangle_container">
    <div class="step_white rectangle">
      <div class="rectangle-content common_size20 beige">STEP1 入力</div>
    </div>
    <div class="triangle_white triangle"></div>
  </div>

  <div class="rectangle_triangle_container">
    <div class="step_white rectangle">
      <div class="rectangle-content common_size20 beige">STEP2 入力確認</div>
    </div>
    <div class="triangle_white triangle"></div>
  </div>

  <div class="rectangle_triangle_container">
    <div class="rectangle">
      <div class="rectangle-content common_size20">STEP3 完了</div>
    </div>
  </div>
</div>
<div class="text_center">
  <p class="mail_send_title beige">会員仮登録が完了しました。</p>
  <div class="finish_icon">
    <%= image_tag 'finish_icon.svg', alt: '完了アイコン' %>
  </div>
  <p class="common_size16">仮登録していただきありがとうございました。<br>仮登録が認証されるまで今しばらくお待ちください。</p><br><br>
</div>