<% content_for :js do %>
  <%= javascript_import_module_tag "controllers/scroll_term_submit" %>
<% end %>

<div class="term_title">
  <h1>利用規約への同意が必要です</h1>
  <p>当システムをご利用するには、<br>以下への規約への同意が必要です。</p>
</div>
<div class="term_content_form" id="terms-scroll">
  <h1>利用規約</h1>

  <section>
    <h2>サービス利用契約書</h2>
    <p>後記個人事業主（以下「利用者」という。）及びBLAST細谷菜奈（以下「当方」という。）は、本日、当方の利用者に対するサービスの提供等に関し、以下の要綱及び当方が定める利用規約のとおり契約（以下「本契約」という。）を締結した。</p>
  </section>

  <section>
    <h3>要綱</h3>
    <ol>
      <li><strong>サービスの概要</strong>
        <p>STN WEBアプリサービス（以下、「本サービス」という。）</p>
      </li>
      <li><strong>サービス料金</strong>
        <p>初期セットアップ費用：本契約時288,000円<br>
          メンテナンス費用：<br>
          12ヶ月 583,000円<br>
          6ヶ月 319,000円<br>
          2ヶ月 0円<br>
          更新費用：本契約締結日より半年毎更新時12,000円<br>
          ※12ヶ月コースを利用する場合は更新料のみで本サービスの利用が可能。
        </p>
      </li>
      <li><strong>契約期間</strong>
        <p>(1) 契約期間は決めたコースの単位とする。利用者もしくは当方から契約終了の申し出がない限り、12ヶ月コースの契約は1年間自動更新となる。<br>
          (2) 利用者が1年未満の契約期間を希望する場合、当方が利用者に特別契約条件を提示する。利用者がその条件に合意した場合、1年未満の契約期間を認めるものとする。
        </p>
      </li>
      <li><strong>中途解約</strong>
        <p>利用者および当方は、契約解約希望日の30日前までに相手方に解約の通知することにより、本契約を解除することができる。本契約が解除された場合、利用者は、当方に既に支払ったサービス料金（初期セットアップ費用、メンテナンス費用、更新費用）の返還その他の請求をすることができない。</p>
      </li>
      <li><strong>サービスの終了</strong>
        <p>当方は、経営上の判断により、本サービスを終了することができる。この場合、終了日の30日前までに各利用者に電子メールで事前予告を行うものとし、サービス料金の返還その他の請求については、前項の中途解約の規定を準用する。</p>
      </li>
    </ol>
  </section>

  <section>
    <h2>詳細な利用条件</h2>
    <p>このセクションでは、具体的な利用条件や細則を詳細に説明します。これには、サービスの利用方法、料金体系、契約期間の定義、解約条件などが含まれます。</p>
  </section>

  <section>
    <h3>第 1 条（規約への同意）</h3>
    <p>利用者は、本利用規約に同意することで、本サービスを利用することができる。利用者は、本サービスを実際に利用することによって、本規約に有効かつ取消不能な同意をしたものとみなされる。</p>
  </section>

  <section>
    <h3>第 2 条（定義）</h3>
    <p>本規約において、以下に掲げる用語は、各号に定める意味を有するものとする。</p>
    <ol>

      <li>(1)「相手方当事者」とは、利用者においては当方を、当方においては利用者をいう。</li>
      <li>(2)「クレーム等」とは、苦情、クレームその他これらに類する行為を個別に又は総称していう。</li>
      <li>(3)「コンテンツ」とは、利用者が本サービスを利用することで受信できる情報であって、文章・音声・音楽・画像・映像・動画・ソフトウェア・プログラム・コード・データ等の情報をいうが、これらに限られない</li>
      <li>(4) 「損害等」とは、損害、損失又は費用（第三者からの請求に基づくもの、及び弁護士費用を含む。）を個別に又は総称していう。</li>
      <li>(5) 「知的財産権等」とは、特許権、実用新案権、意匠権、商標権、著作権、特許を受ける権利、実用新案登録を受ける権利、意匠登録を受ける権利、商標登録出願により生じた権利、及び不正競争防止法に基づく保護の対象となる商品等表示、商品の形態又は営業秘密並びに外国法に基づく権利であってこれらに相当するものを個別に又は総称していう。</li>
      <li>(6) 「法的倒産手続」とは、解散、清算又は破産手続開始、民事再生手続開始、会社更生手続開始、特別清算開始その他これらに類する法的倒産手続を個別に又は総称していう。</li>
      <li>(7) 「法令等」とは、国内外の法律、政省令、通達、告示、司法・行政機関等の規則、命令、条例、ガイドラインその他の規制を個別に又は総称していう。又は総称していう。</li>
      <li>(8)「反社会的勢力」とは、次の各号のいずれかに該当する者を個別に又は総称していう。<br>
      </li>
      <ul class="ul-pa-l2">
        (i) 暴力団、暴力団員、暴力団員でなくなった時から5年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロ又は特殊知能暴力集団等、その他これらに準ずる者（以下「暴力団員等」と総称する。）<br>
        (ii) 暴力団員等が経営を支配していると認められる関係を有する者<br>
        (iii) 暴力団員等が経営に実質的に関与していると認められる関係を有する者<br>
        (iv) 自ら又は第三者の不正の利益を図る目的又は第三者に損害を加える目的をもってする等、不当に暴力団員等を利用していると認められる関係を有する者<br>
        (v) 暴力団員等に対して資金等を提供し、又は便宜を供与する等の関与をしていると認められる関係を有する者<br>
        (vi) 役員又は経営に実質的に関与している者が暴力団員等と社会的に非難されるべき関係を有する者
      </ul>
    </ol>
  </section>

  <section>
    <h3>第 3 条（本サービスのライセンス許諾）</h3>
    <ol>
      <li>当方は、利用者に対し、本利用規約に規定された条件の下で、非独占的に本ウェブサイト上で本サービスを利用することを許諾する。</li>
    </ol>
  </section>

  <section>
    <h3>第 4 条（知的財産権等）</h3>
    <ol>
      <li>1．本サービスにおいて、当方が利用者に提供するコンテンツに関する一切の知的財産権等は当方又は当方に権利の使用を許諾したライセンサーに帰属し、利用者は、当方及びライセンサーの許諾を得ずにコンテンツの編集及び改変等を行い、又は第三者に許可なく使用させ、公開することができない。また、利用者は、コンテンツを複製することはできない。</li>
      <li>2．利用者が本条の規定に違反して問題が生じた場合、利用者は、自己の費用と責任において問題を解決するものとし、当方に迷惑や損害を与えてはならない。</li>
      <li>3．利用者は、以下の各号に定める行為（以下「禁止行為」という。）を行ってはならないものとする。</li>
      <ul class="ul-pa-l2">
        (1) 当方又は第三者の知的財産権等、肖像権等の人格権若しくはプライバシーその他権利若しくは法律上保護に値する利益を侵害し、又はそのおそれのある行為<br>
        (2) 当方又は第三者を中傷し、名誉を毀損し、その他当方のレピュテーションに不利益をもたらす行為<br>
        (3) 第三者の判断に誤解を与え、又は第三者の判断に悪影響を与える行為<br>
        (4) 第三者に対し、許可なく本サービスの使用を再許諾する行為<br>
        (5) 本サービスの電子データを複製、修正、改変若しくは改造し、又は不正な目的により使用する行為<br>
        (6) 本サービスの電子データを許可なく第三者に提供する行為<br>
        (7) コンテンツに対して、リバースエンジニアリング、逆コンパイル、又は逆アセンブラ、その他コンテンツを解析しようと試みる行為<br>
        (8) 当方の営業を妨害し、又はそのおそれのある行為<br>
        (9) 前各号に掲げるほか法令等に違反する行為<br>
        (10) 前各号に準ずる行為<br>
      </ul>
    </ol>
  </section>

  <section>
    <h3>第 5 条（利用者の義務）</h3>
    <ol>
      <li>1. 利用者は、自らの責任と費用において、ソフトウェア、インターネット接続回線、セキュリティの確保等、本サービスの利用に必要な環境を整備するものとする。当方は、利用者が整備するこれらの環境に対する本サービスの動作保証を、一切行わないものとする</li>
      <li>2. 利用者は、下記のWebブラウザにおいて本サービスを使用させるものとする。<br>Webブラウザ：Google Chrome（最新バージョンのみ）</li>
      <li>3. 利用者は利用者登録情報及びパスワード等を自らの責任において管理するものとする。また、利用者は、利用者登録情報及びパスワード等を貸与、譲渡、名義変更、売買又は質入してはならず、また、方法の如何を問わず許可なく第三者に利用させてはならないものとする。利用者は自己の利用者登録情報が他人によって不正利用されていることを知った場合、直ちに当方にその旨を通知するものとする。</li>
      <li>4. 当方は、利用者登録情報及びパスワード等その他の利用者に関する情報が第三者に使用されたことによって当該利用者が被る損害については、当方に故意又は過失がある場合を除き、利用者及び第三者に対して一切責任を負わないものとする。また、当該利用者登録情報及びパスワード等その他の利用者に関する情報を用いてなされた本サービスの利用は、当該利用者によりなされたものとみなし、当該行為を自己がしたか否かを問わず責任を負う。</li>
      <li>5. 利用者は、本サービスの利用に際して取得した個人情報に関して、個人情報保護法その他の法令等を遵守するものとする。</li>
      <li>6. 利用者は、本サービスを利用する顧客に追加、減少、変更が生じた場合、速やかに当方に通知するものとする。</li>
      <li>7. 利用者は本サービスに付随するカスタマイズ、プラグインなど、本サービスと連携する機能を独自開発する場合、その仕様について当方に事前に開示するものとする。当方はその情報を確認し、本サービスに悪影響を及ぼす恐れがあると判断した場合、利用者に仕様の変更を求めることができる。</li>
    </ol>
  </section>

  <section>
    <h3>第 6 条（第三者への委託）</h3>
    <p>当方は、利用者による承諾を得た上で、本サービスの提供に係る業務の一部又は全部を、当方の責任において第三者に再委託することができる。</p>
  </section>

  <section>
    <h3>第 7 条（通知）</h3>
    <ol>
      <li>本規約における利用者の当方に対する通知は、以下の通知先に対する電子メールにより行うものとし、当方の利用者に対する通知は本契約に記載された利用者の電子メール宛てにするものとする。</li>
      <li>菜奈 Email：blast240501@gmailcom</li>
    </ol>
  </section>

  <section>
    <h3>第 8 条（秘密情報の取扱い）</h3>
    <ol>
      <li>各当事者は、サービス利用契約に関する交渉、準備、締結及び履行の過程において相手方当事者より受領した情報、並びに、本契約の締結の事実及び内容（以下「秘密情報」と総称する。）について相手方当事者の事前の書面による承諾なしに、これを第三者に開示、漏洩又は公表せず、また、本契約の目的以外に利用しないものとする。</li>
      <li>但し、①本項と同等以上の秘密保持義務を課した上で、それぞれの役職員に対して開示する場合、②アドバイザー等その他法令又は契約上秘密保持義務を負う者に対して開示する場合、 ③ 日本又は外国の法令等に基づき開示を要求される場合はこの限りでない。</li>
    </ol>
  </section>

  <section>
    <h3>第 9 条（利用者に係る情報の利用等）</h3>
    <ol>
      <li>1．当方はプライバシーポリシーに定めるところにより、利用者に係る情報を次に定める目的の遂行に必要な範囲において、利用する。
      <ul class="ul-pa-l2">
        ア 利用者からの問い合わせへの対応（本人性の確認）<br>
        イ 当方サービスに利用に係る手続き又は提供条件の変更等の案内に係る業務<br>
        ウ 課金計算に係る業務<br>
        エ 料金請求に係る業務<br>
        オ 利用停止及び契約解除に係る業務<br>
        カ 保守又は障害対応などの取扱業務<br>
        キ 当方サービスの維持、改善又は新たなサービスの開発に係る業務<br>
        ク 当方サービス又は利用者に有益な他社サービス・製品等の通知、販売推奨、アンケート調査及び景品等の送付に係る業務<br>
        ケ 市場調査及びその分析に係る業務<br>
        コ その他当方の営業に関する通知
      </ul
      <li>2．当方の情報セキュリティ全社管理責任者は、当該利用者に係る情報についての責任を有するものとする。</li>
      <li>3．サービスの利用に係わる債権・債務の特定、支払い及び回収に必要と認めた場合には、当該業務に必要な範囲内でクレジットカード会社等の金融機関、債権管理回収業者又は提携先等に情報を開示、提供することがある。</li>
      <li>4．利用者は(1)～(2)に定めるところにより当方が利用者に係る情報を利用すること、ならびに(3)に定めるところにより当方が利用者に係る情報を当該第三者に開示、提供することに同意する。</li>
      <li>5．利用者が本サービスの利用にあたり自ら登録した情報であって、アクセス制御が施されているものについては、当方は、参照、閲覧等して利用しないものとする。但し、当方が本サービスを運営するために必要な範囲で参照が必要となることがあり、当該情報が個人情報に該当する場合には、当方が別に定めるプライバシーポリシーに従うものとする。</li>
    </ol>
  </section>

  <section>
    <h3>第 10 条（譲渡禁止）</h3>
    <ol>
      <li>1. 利用者は、サービス利用契約上の地位又は権利義務の全部又は一部を、第三者に許可なく譲渡若しくは承継し、又は担保の目的に供することはできないものとする。</li>
      <li>2. 当方が本サービスにかかる事業を第三者に譲渡した場合には、当方は、当該事業譲渡に伴い当方の本契約上の地位及び権利義務並びに利用者登録情報その他の利用者に関する情報を当該事業譲渡の譲受人に譲渡できるものとし、利用者は、かかる譲渡につき予め同意するものとする。本項にいう事業譲渡には、当方が消滅会社となる合併又は当方が分割会社となる会社分割等による包括承継を含むものとする。</li>
    </ol>
  </section>

  <section>
    <h3>第 11 条（免責）</h3>
    <ol>
      <li>1. 当社は、利用者又は利用者の顧客が本サービスを利用することにより知り得た情報に起因して損害を受けた場合でも、当社に故意又重過失がある場合を除き、何らの責任を負わないものとする。</li>
      <li>2. 当社は、利用者又は利用者の顧客が本サービスの提供を受けられなかったときでも、当社に故意又は重過失がある場合を除き、何ら責任を負わないものとする。本項における「本サービスの提供を受けられなかったとき」には、通信回線又はシステムの障害その他事由の如何を問わず、利用者又は一般顧客が本サービスの提供を受けることができなかったあらゆる場合を含むものとする。</li>
      <li>3. 当社は、本サービスにおけるいかなるデータ、情報についてもウイルス等当社の責めに帰すことができない事由により消去・変更されないことを保証するものではない。</li>
      <li>4. 当社は、利用者間の通信や活動に関与しないものとする。万一利用者間で紛争や問題が生じた場合であっても、当該利用者間で解決するものとし、当社はその責任を一切負わないものとする。</li>
      <li>5. 利用者以外の第三者と利用者との間で紛争が起こった場合には、紛争の当事者である利用者は自己の責任で解決するものとし、当社は一切関与しないものとする。また、当該第三者が損害を被った場合には、当該利用者が賠償するものとし、当社は一切の責任を負わないものとする。</li>
      <li>6. 当社は、この規約等の変更により利用者設備等の改造又は変更（以下この条において「改造等」といいます。）を要することとなる場合であっても、その改造等に要する費用については負担しない。</li>
      <li>7. 利用者が、ユーザー名及びパスワードを紛失・盗難又は第三者が容易に知り得る状態においたことで生じた本サービスの不正利用により利用者に発生した損害について、当社は免責されるものとする。</li>
      <li>8. 当社は、利用者が本サービス内に蓄積した、または利用者が他者に蓄積することを承認したデータ等の消失、他者による改ざんに関し、いかなる責任も負わないものとする。</li>
      <li>9. 当社は、以下の各号に関して保証を行わず、これに起因する利用者の損害について一切の責任を負わないものとする。</li>
      <ul class="ul-pa-l2">
        (1) 本サービスに何ら不具合を生じないこと<br>
        (2) 本サービスの提供が当社の意図に寄らず中断されないこと<br>
        (3) 本サービスの不正利用がないこと
      </ul>
    </ol>
  </section>

  <section>
    <h3>第 12 条（承諾の限界）</h3>
    <p>当社は、利用者から請求があった場合に、その請求を承諾することが技術的に困難なとき又は保守することが著しく困難である等当社の業務の遂行上支障があるときは、その請求を承諾しないことがあります。この場合、その理由をその請求をした利用者に通知する。但し、この規約及び発注書において別段の定めがある場合には、その定めるところによる。</p>
  </section>

  <section>
    <h3>第 13 条（損害賠償）</h3>
    <ol>
      <li>1. 利用者は、本契約に違反した行為又は不正若しくは違法に本サービスを利用することにより、当社に損害を与えた場合、その損害を賠償するものとする。</li>
      <li>2. 当社は、自らに故意又は重過失がある場合を除き、本サービスの利用により利用者又は第三者に生じた一切の損害につき、賠償義務を負わないものとする。</li>
      <li>3. 当社に故意又は重過失がある場合を除き、本契約に基づく当社の利用者又は第三者に対する責任は利用者が現実に被った通常かつ直接の損害に限るものとし、特別損害、逸失利益、間接的、派生的又は付随的損害その他の損害については、一切責任を負わないものとする。</li>
      <li>4. 当社の損害賠償の限度額は、サービス契約金額を上限とする。</li>
    </ol>
  </section>

  <section>
    <h3>第 14 条（サービス利用停止）</h3>
    <p>当社は、以下の各号のいずれかの事由が生じた場合、利用者に対する通知により、直ちに本サービスの利用を停止することができる。</p>
    <ol>
      <li>1．利用者に本規約上の違反があった場合</li>
      <li>2．利用者につき法的倒産手続開始の申立てがなされ、又はそのおそれがあると合理的に認めるべき事由が生じた場合</li>
    </ol>
    <p>当社は、当該利用停止によって利用者及び第三者に生じた損害について、一切の責任を負わないものとする。</p>
  </section>

  <section>
    <h3>第 15 条（反社会的勢力の排除）</h3>
    <p>当社は、反社会的勢力による本サービスの利用を一切禁止する。当社は、利用者が反社会的勢力に該当すると判断した場合、事前に利用者に通知することなく、本サービスの利用を停止することができる。当社は、当該利用停止によって利用者及び第三者に生じた損害について、一切の責任を負わないものとする。</p>
  </section>

  <section>
    <h3>第 16 条（サービスの更新・変更等）</h3>
    <ol>
      <li>1．当方は、本サービスの修繕、改善、機能向上または本サービスの安定的な提供その他の目的のために、本サービスの内容を予告なく変更または更新する場合がある。</li>
      <li>2．利用者は、前項に定める変更または更新が、自動アップデートまたは自動アップグレードによる場合があることを承諾の上、利用を開始するものとする。</li>
    </ol>
  </section>

  <section>
    <h3>第 17 条（サービスの終了・中断・停止）</h3>
    <ol>
      <li>1．当方は、理由の如何を問わず、本サービスの提供を中断・終了することができるものとする。</li>
      <li>2．当方は、定期または緊急の、本サービスに対する点検もしくはメンテナンス等の目的のために、任意に本サービスの提供を中断、一時停止またはその他の措置を講じることができるものとする。</li>
      <li>3．前 2 項の場合または以下のいずれかに該当する事由により、本サービスの提供が終了、中断または停止された場合も、当方は、当該終了等によりユーザーまたは第三者に生じた損害につき、責任を負わないものとする。</li>
      <ul class="ul-pa-l2">
        (1) 本サービスが利用するサーバー、関連設備もしくは機器等または本サービスに含まれる各種コンピュータシステム、ソフトウェアもしくはプログラム等の定期保守、故障、機能改善措置またはその修理のため。<br>
        (2) 本サービスの提供を目的として当方が利用するサービスの債務不履行のため。<br>
        (3) 本サービスが利用するサーバーに対する第三者の不正侵入により、本サービスの正常な提供に支障の生じた場合。<br>
        (4) 天変地変、戦争、暴動、内乱、法令の制定・改廃、公権力による命令・処分、通信回線に生じた事故等の不可抗力を原因として通信回路に異常をきたした場合。<br>
      </ul
    </ol>
  </section>

  <section>
    <h3>第 18 条（利用規約の変更）</h3>
    <p>当社は、本規約を変更することがある。この場合には、料金その他の提供条件は、変更後の規約によるものとする。</p>
  </section>

  <section>
    <h3>第 19 条（準拠法及び管轄裁判所）</h3>
    <ol>
      <li>1. 本規約及び個別契約の準拠法は日本法とする。</li>
      <li>2. 本サービスに関する一切の紛争は、東京地方裁判所を第 1 審の専属的合意管轄裁判所とする。</li>
    </ol>
  </section>

  <section>
    <h3>第 20 条（誠実協議）</h3>
    <p>本規約に定めのない事項については、両当事者が誠実に協議の上解決するものとする。</p>
  </section>
</div>

<div class="agreement-checkbox">
  <input type="checkbox" id="agree-checkbox" disabled required: true >
  <label for="agree-checkbox">利用規約に同意する</label>
</div>

<%= link_to "登録フォームへ", new_tmp_member_info_path(current_step: 1), class: 'common_btn_beige btn_term_submit', id: 'registration-link' %>
